@model IEnumerable<FSDP.DATA.EF.Reservation>
@{
    ViewBag.Title = "Reservations";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerAsset.AssetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassInfo.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerAsset.AssetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassInfo.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID })
                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                    <div>|  @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })</div>
                }

            </td>
        </tr>
    }

</table>
