@model IEnumerable<FSDP.DATA.EF.ClassInfo>
@{
    ViewBag.Title = "Class Info";
}
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassLimit)
        </th>
        <th>
            Level
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level.LevelName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ClassID })
                @if (User.IsInRole("Admin"))
                {
                    <div>| @Html.ActionLink("Edit", "Edit", new { id = item.ClassID }) |</div>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClassID })
                }
            </td>
        </tr>
    }

</table>
