@model FSDP.DATA.EF.OwnerAsset

@{
    ViewBag.Title = "Details";
}
<div class="card col-md-12 col-lg-4" style="width: 25rem;">
    <div class="asset">
        <h5 class="card-title">Account Owner: @Html.DisplayFor(model => model.UserDetail.FullName)</h5>
    </div>
    <img class="card-img-top" src="~/Content/img/@Model.AssetPhoto" alt="@Model.AssetName">
    <div class="card-body asset">
        <h5 class="card-title">@Model.AssetName</h5>
        <p class="card-text">Created at: @Model.DateAdded <br />@Model.Level.LevelName Level</p>
        <p>
            @Html.DisplayNameFor(model => model.IsActive) | @Html.DisplayFor(model => model.IsActive) <br />
            Notes: @Html.DisplayFor(model => model.SpecialNotes)
        </p>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.OwnerAssetID }) |
            @if (User.IsInRole("Owner"))
            {
                @Html.ActionLink("Back to List", "Index")
            }
            else
            {
                @Html.ActionLink("Back to List", "Members")
            }
        </p>

    </div>
</div>