@model IEnumerable<FSDP.DATA.EF.OwnerAsset>

@section Nav
{
    <header>
        <div class="header__nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <nav class="header__menu">
                            <ul>
                                <li><a href=@Url.Action("Index", "Home")>Home</a></li>
                                <li><a href=@Url.Action("About", "Home")>About</a></li>

                                <li><a href=@Url.Action("Index", "OwnerAssets")>Your Account</a></li>
                                <li>
                                    <a href="#">Classes</a>
                                    <ul class="dropdown">
                                        <li><a href=@Url.Action("Index", "ClassInfoes")>Class Info</a></li>
                                        <li><a href=@Url.Action("Index", "Reservations")>Reservations</a></li>
                                        <li><a href=@Url.Action("Index", "Locations")>Locations</a></li>
                                        <li><a href=@Url.Action("Index", "Levels")>Level Guide</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    @*<div class="col-lg-3 col-md-3">
                            <div class="header__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Breadcrumb Begin -->
    <section class="breadcrumb-option set-bg" data-setbg="/Content/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h2>Your Account</h2>
                        <div class="breadcrumb__widget">
                            <a href=@Url.Action("Index", "Home")>Home</a>
                            <span>Members</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level.LevelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssetName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.AssetPhoto)*@
                <img src="~/Content/img/@item.AssetPhoto" alt="@item.AssetName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level.LevelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OwnerAssetID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OwnerAssetID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OwnerAssetID })
            </td>
        </tr>
    }

</table>
