@model IEnumerable<FSDP.DATA.EF.Location>
@{
    ViewBag.Title = "Locations";
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th></th>
    </tr>*@
    <div class="row location">
        @foreach (var item in Model)
        {
            <div class="card col-md-3 col-lg-4 location" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/img/@item.InstructorPhoto" alt="@item.InstructorName">
                <div class="card-body">
                    <h4>@item.InstructorName</h4>
                    <h5 class="card-title">@item.LocationName</h5>
                    <p class="card-text">@item.Address</p>
                    <p class="card-text"> @item.City @item.State, @item.ZipCode</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        @if (User.IsInRole("Admin"))
                        {
                            <div>@Html.ActionLink("Edit", "Edit", new { id = item.LocationID }) |</div>
                            @Html.ActionLink("Delete", "Delete", new { id = item.LocationID })
                        }
                    </li>
                </ul>
            </div>
        }
    </div>
