@model IEnumerable<FSDP.DATA.EF.Reservation>

@section Nav
{
    <header>
        <div class="header__nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <nav class="header__menu">
                            <ul>
                                <li><a href=@Url.Action("Index", "Home")>Home</a></li>
                                <li><a href=@Url.Action("About", "Home")>About</a></li>

                                <li><a href=@Url.Action("Index", "OwnerAssets")>Your Account</a></li>
                                <li>
                                    <a href="#">Classes</a>
                                    <ul class="dropdown">
                                        <li><a href=@Url.Action("Index", "ClassInfoes")>Class Info</a></li>
                                        <li><a href=@Url.Action("Index", "Reservations")>Reservations</a></li>
                                        <li><a href=@Url.Action("Index", "Locations")>Locations</a></li>
                                        <li><a href=@Url.Action("Index", "Levels")>Level Guide</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    @*<div class="col-lg-3 col-md-3">
                            <div class="header__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Breadcrumb Begin -->
    <section class="breadcrumb-option set-bg" data-setbg="/Content/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h2>Classes</h2>
                        <div class="breadcrumb__widget">
                            <a href=@Url.Action("Index", "Home")>Home</a>
                            <span>Reservations</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerAsset.AssetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassInfo.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerAsset.AssetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassInfo.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.LocationName)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) 
            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
                <div>|  @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })</div>
            }

        </td>
    </tr>
    }

</table>
